/* Importar a fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Estilos gerais */
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

#podcast-details {
    margin-top: 80px;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000;
  }
  
  .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-info p {
    margin-bottom: 10px;
  }
  
  .product-image {
    position: relative;
    text-align: center;
}
  
  .product-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
  
.preview-button,
.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}
  
  .preview-button {
    margin-right: 10px;
  }
  
  .preview-button:hover,
  .buy-button:hover {
      background-color: #0056b3;
  }
  
  .product-description {
    margin-top: 20px;
    color: #000000;
  }
  
  .product-description p {
    margin-bottom: 15px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
  }